<div>
    <div id="class-wrapper" ng-click="mainObj.showForm = false"></div>
    <form id="product" ng-submit="submit()" name="product">
        <table>
            <tr>
                <td>title</td>
                <td><input name="title" type="text" value='' ng-model="newElem.title" required></td>
            </tr>
            <tr>
                <td>sku</td>
                <td><input name="sku" type="text" value='' ng-model="newElem.sku" required ng-class="{'invalid': product.sku.$invalid}"></td>
            </tr>
            <tr>
                <td>price</td>
                <td><input name="price" type="number" value='' ng-model="newElem.price" required ng-class="{'invalid': product.price.$invalid}"></td>
            </tr>
        </table>
        <input type="submit" value="{{ mainObj.val }}">
    </form>
</div>