<div>
    <div id="class-wrapper" ng-click="close()"></div>
    <form id="product" ng-submit="submit()" name="product">
        <table>
            <tr>
                <td>Title</td>
                <td><input name="title" type="text" value='' ng-model="newElem.title" required></td>
            </tr>
            <tr>
                <td>Sku</td>
                <td><input name="sku" type="text" value='' ng-model="newElem.sku" required></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input name="price" type="number" value='' ng-model="newElem.price" required></td>
            </tr>
        </table>
        <input type="submit" value="{{ internalModel.val }}">
    </form>
</div>