<div>
    <div id="class-wrapper" ng-click="cancelAction()"></div>
    <form id="product" ng-submit="submit()" name="product">
        <table>
            <tr>
                <td>Title</td>
                <td><input name="title" type="text" value='' ng-model="myObject.title" required></td>
            </tr>
            <tr>
                <td>Sku</td>
                <td><input name="sku" type="text" value='' ng-model="myObject.sku" required is-origin></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input name="price" type="number" value='' ng-model="myObject.price" required great-then=0></td>
            </tr>
        </table>
        <input type="submit" value="{{ myAction }}" ng-disabled="product.title.$pristine || product.title.$pristine || product.title.$pristine">
        <input type="submit" value="cancel"  ng-click="cancelAction()">
    </form>
</div>